//Base Suzy grid//
$susy: (
  columns: 12,
  container: 1280px,
  global-box-sizing: border-box,
  gutters: 2,
  gutter-position: inside
  );

.container {@include container; margin: 0 auto; }

html{box-sizing:border-box; background: $c-lg; }

*, 
*:before, 
*:after{box-sizing:inherit}

body{font-size: 62.5%; color: $c-txtbody; font-family: $ff-body; margin:0 auto; background-color:#efefef; @extend .bg-hdr;}

.home:after {display: none;}

blockquote, q{quotes:""""; 
	&:before,&:after{content:""}
}

hr{background-color:$bg-hr; border:0; height:1px; margin-bottom:1.5em}

ul{list-style:none}

ol{list-style:decimal}

img{height:auto; max-width:100%}

table{margin:0 0 1.5em; width:100%}

.col {padding: 10px;}

@include breakpoint(tablet-h) {
.col-cnt {@include span(8 first); padding-left:0; border-right:2px dashed $c-lg;}
.col-sb {@include span(4 last); padding-right:0;}
}


$top-pad:35px;
$bar-height:60px;
$zidx:1000;
#masthead{position: relative; @extend .cf; @extend .bg-bg; display: block; z-index: $zidx !important;
	&, * { @extend .animate; @extend .ffl; }
	.hdr-top {@extend .cf;
		.col {  display:none;
			h2 {font-size:1.2rem; color:$c-w;
				@include breakpoint(medium) {font-size:1.4rem;}
				@include breakpoint(x-large) {font-size:1.5rem;}
			}
			@include breakpoint(tablet) {display: block; position: absolute; right:10px; top:5px;  text-align: right; @include span(10 of 13);
				&.col-r {top:30px;}
			}
			@include breakpoint(medium) {@include span(5 of 13); position: relative; padding-top: 20px; top:0 !important;  text-align: center;}
		}
		
		#site-branding { @include span(6); background: $c-w; z-index: 2000;
 text-align: center; position: relative;
	 		#logo {@extend.bglogo; @extend .notxt; height:80px; }
	 		@include breakpoint(tablet) {@include span(3 of 13);}
		}
	}
	
	.hdr-nav {@extend .cf; position: relative; background:$c-w;  position: absolute; top:0; width:100%;
		.main-nav {display: block; @extend.cf;  position: relative; z-index: 1000;
			#mega-menu-nav-main {
				.mega-toggle-block {
					&:before, &:after {color:$c-bl !important;}
				}
				li.mega-menu-item {
					a {font-size: 1rem; padding:5px 15px; @extend .animate; }
					.mega-sub-menu {
						li {@extend .lined; border-color:rgba(255,255,255,0.1 ) !important; 
							a {padding:10px 0;}
						}
	
						.mega-sub-menu {font-family: $ff-body; 
							.btn {border-color:$c-w !important; padding:5px !important;}
							li {padding: 0; 
								a {font-size:.8rem !important; padding:3px 0 !important;
									&:hover{padding:3px 5px !important; }
								}
							}
						}
					}
				}
				
			}
			.hdrsearch {display: none;}
			.no-js .hdrsearch {display: block;}
		}		
		@include breakpoint(tablet) {position: relative; top:auto;
			.main-nav {display: block;}
		}
	}
	.global-nav {position: absolute; right:10px; top:$top-pad; z-index: $zidx; @extend .cf;
		li {float:right; display: block; margin: 3px;
			a {font-size:3rem; color: $c-gr; width: 50px;
				&:hover {color:$c-bl;}
			}		
		}
	}
}


.sec-cnt {@extend .cf; position: relative;}

.sec-main {
	.post-cnt {margin: 0 2%;
		.sec-hdr {@extend .bg-b; border-radius:0 0 5px 5px; padding:10px; color:$c-w;
			h1 {text-transform: uppercase;}
			h2 {font-size:.8rem; @extend .midline; margin:0;
				.hl { padding:0 25px !important;}
				@include breakpoint(tablet) {font-size: 1rem;}
			}
		}
		.full-col {@extend .full;
			p {text-align: center;}
		}
		.two-col {@extend .blocks;
			.col {@extend .half;}
		}
		
	}
}

.post-cnt {text-align: center;
	img {border: 4px solid; margin:0 auto;}
	.wp-caption {font-size:.8rem;  margin: -40px 0 15px; background:$c-w; @extend .ffl; display: inline-block;
		.wp-caption-text { color:$c-bl}
	}
}
