.meta {font-size:.8rem;}

.rm {background: $c-bl; }
//List Posts

.listpost {margin-bottom: 15px;
	.blnk {display: block; padding:5px; @extend .animate;
		.entry-tmb {
			img { border:3px solid #ccc; margin: 0 auto; width: 100%;}
		}
		.entry-cnt{font-size: .9rem; 
			.entry-title { @extend .h1; @extend .ffl; padding-bottom:15px;  } 
			.entry-txt p {font-size: .9rem;}
		}
		@include breakpoint(tablet) {margin: 5px 0; 
			.entry-tmb { @include span(3); padding:0;}
			.entry-cnt { @include span(9);}
		}
	}
	&:hover { @include tbg($c-b, 0.1); ; }
}


.ftr-blog {background: $c-dg;
	* {color:$c-w};
	.sec-hdr h2.widgettitle { @extend .h1; }
	.listpost {
		.entry-txt {display: none !important;}
		&:first-of-type .entry-txt {display: block !important;}
		@include breakpoint(tablet) { @include span(6);
			&:first-of-type { @include span(12); }
		}
	}
	
}


//Single Posts


//SIdebar
.widget {

}

