/* Breakpoints */
@mixin breakpoint($break) {
@if $break == xlarge {
@media (min-width: 1441px) { @content; }
}
@else if $break == large {
@media (min-width: 1240px) { @content; }
}
@else if $break == medium {
@media (min-width: 1080px) { @content; }
}
@else if $break == tablet-h {
@media (min-width: 960px) { @content; }
}
@else if $break == dismobile {
@media (max-width:959px) { @content; }
}
@else if $break == tablet {
@media (min-width: 768px) { @content; }
}
@else if $break == mobig {
@media (min-width: 481px) { @content; }
}
@else if $break == mosmall {
@media (max-width: 480px) { @content; }
} @else {
@media ($break) { @content; }
}
}