.container:before,
.container:after,
.sec-cnt:before,
.sec-cnt:after,
.cf:before,
.cf:after,
.entry-cnt:before,
.entry-cnt:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include cf;
}

.sec-cnt:after,
.cf:after,
.entry-cnt:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include cf-after;
}

.alignleft{display:inline; float:left; margin-right:1.5em}

.alignright{display:inline; float:right; margin-left:1.5em}

.aligncenter{clear:both; @include center-block}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}