
#catalog-request {padding:2px 20px; @extend .cf; background: $c-g;
	* {text-align: center;}
	.gform_wrapper,.gform_heading {background: none;}
	.gform_title { @extend .ffl; color:$c-bl;}
	.gform_body {@extend .cf; padding: 0 !important;}
	.gform_footer { padding: 0 5px !important; text-align: center;
		.gform_button {border-radius:100%; color:$c-w; background: $c-dg; margin:0 auto; @include dims (75px,75px);  @extend .animate;
			&:hover {background-color:$c-b; }
		} 
	}
	@include breakpoint(tablet) {
		.gform_heading { @include span(3); padding-top: 8px;}
		.gform_body { @include span(7); }
		.gform_footer { @include span(2); clear:none; margin:0 !important; }
	}
	@include breakpoint(medium) {
		
		.gform_body { @include span(8); 
			ul {width: 100%; padding-top: 12px;
				.gfield { @include span(6); clear:none; }	
			}
		 }
		.gform_footer { @include span(1); }
	}
	
}

#site-footer { @extend.cf; background:$c-b; padding:20px 0 0;
	* {text-align:left; color:$c-w;}
	.widget {margin-bottom: 20px;}
	.btn {background: none !important; border:1px solid; text-align: center;}
	.ftr-widgets{@extend.cf; padding:0 20px;
		
		.widgettitle { font-size: 2rem; line-height:2.2rem;margin-bottom: 8px; position: relative}
		.wgt-map {
			.widgettitle { @extend .cf;
				.va {float: right; width: 100px; 
					.btn {font-size: .8rem;  }
				}
			}
			
			
		}
		.text-block {
			p, ul {margin-bottom:15px;}
			li {color:$c-lg; border-left:3px $c-lg; padding-left: 5px;}
		}
		.wgt-wwa, .wgt-wwd {font-size:.8rem; line-height:1.2rem;}
		@include breakpoint(tablet) {
			.wgt-wwa, .wgt-wwd {@include span(6);}
			.wgt-wwa {border-right: 1px solid;}
		}
		@include breakpoint(tablet-h) {
			.wgt-wwa, .wgt-wwd {@include span(3 of 11); }
			.wgt-wwa {border-left: 1px solid;}
			.wgt-map{ @include span(5 of 11 first); overflow: hidden;
				#mapwrapper {margin: -150px 0;}	
			 }	
		}
		@include breakpoint(medium) {
			.wgt-map{
				#mapwrapper {margin: -160px 0;}	
			 }
		}
		@include breakpoint(large) {
			.wgt-map{
				#mapwrapper {margin: -210px 0;}	
			 }
		}
		
	}//end ftr-widgets
	.ftr-btm { background: #222;
		#connect {@extend .cf; margin: 0; padding: 2%;	
			.widget {margin: 0;}
			.entry-cnt { @extend .cf;font-size:.9rem; 
				h4 { @extend .uline; }
			}		
			@include breakpoint(tablet) {display: table; width: 100%;
				.td {display: table-cell; vertical-align: middle; }
				.entry-title {width: 220px;
					*{ text-align: center ;}
				}
				.entry-cnt {
					> div { @include span(4); border-left:1px solid #444; height: 150px; padding-top:20px;}
					ul {padding:10px 0;}
					.em a {display: inline-block; font-size:.9rem; margin: 5px 0;}
					.entry-map {padding-top: 0;}
				}
				
			}
			.gmap {border:4px solid $c-w; display:block; text-align:center; background:url(img/gmap.jpg) no-repeat center bottom; height: 150px; position: relative; max-width:310px; margin:0 auto;
				* {text-align: center;} 
				.map-link {display: block;  background:$c-w; width:130px; height:145px;  margin:0 auto; padding:25px; font-size:.8rem; opacity: 0.1; color:$c-b;  line-height: 1rem;
					i {font-size:3rem; display: block; color:$c-b}
				}
				&:hover .map-link {opacity: 1}

			}
		 }
	}	
}

.map-tip {border:none; background:$c-w !important; color:$c-bl !important;}