button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 3px;
		background: $bg-btnhvr;
	font-size: $fs_body;
	line-height: 1;
	&:hover {
		background: $bg-btnhvr;	}
}

.gform_wrapper {background: $c-g; @include tbg($c-b, 0.1); padding:5px 20px !important; 
	.gfield_label{font-size: 1rem; margin-bottom: 2px; position: relative;}
	.gform_heading, .gsection, .reqtype {background: $c-dg;  color:$c-w ; padding:5px !important ; clear: both ; }
	.reqtype  {margin:5px;}
	.gform_body { @extend .cf;
		.halfcol { @include span(6); padding:0; clear:none !important;}
		input[type="text"], 
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		input[type="number"],
		input[type="tel"],
		input[type="range"],
		input[type="date"],
		input[type="month"],
		input[type="week"],
		input[type="time"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="color"],
		textarea, 
		select {
			color: $c-txtinput;
			border: none;
			border-radius: 3px;
			padding: 5px;
			&:focus {
				color: $c-txtinput-focus;
			}
		}
	}
	.gform_footer {margin: 0; padding: 0; 
		.gform_button { @extend .btn; }
	}
	.gform_confirmation_message {background: #437e40; padding:30px; color:$c-w;}
}
