.site-main {position: relative;}
$pagepad: 30%;
$cntpad: 2%;
.inner-page {
	.site-main {
		.page-header { @include bdr-tops(1px, #ccc);
			* { text-align: center}			
		 }
		.page-tmb{  position: relative; @include dims(150px, 150px); margin: 10px auto;
			.tmbwrap {@extend .adiv; bottom:0; left:0; @extend .rimg; width:100%; height:100%; @extend .bg-reset; background-size:cover; }	
			@include breakpoint(tablet) {margin: 0; position: absolute; bottom:0; left:0; height:100%; width:$pagepad;
				.tmbwrap {border-radius:0; border:0; }
			}
		}
		.page-cnt {padding: 2%;
			.entry-hdr { @include bdr-tops(1px, $c-g); }
			.entry-cnt {
				img.alignleft, img.alignright {display:block; background:$c-w; padding:8px; border-raddius:3px;
					@include breakpoint(mosmall) {float: none; clear:both;  margin:10px auto}
				}
				h1, h2, h3, h4 { @extend .uline; padding: 5px;}
				p {margin-bottom: 12px;}
				ol {margin:2%; font-size: 1rem;
					li { @extend .uline; }
				}
			}

		}
		&.hastmb .page-cnt {margin: $cntpad;
			@include breakpoint(tablet) { margin:0 0 0 $pagepad; padding-left:$cntpad;}	
		}
	}
	
}

.sb-page {
	.site-main {background: $c-bl;
		.page-main {background: $c-lg;
		}

		.page-sb {padding:3%;
			* {color: $c-w; }
			img {border:4px solid $c-w;}
			p {font-size:.9rem; padding: 5px 0;}
			.btn {background:none !important; display: inline-block; border:1px solid $c-w;}

			.sb-gal {background: $c-w;  padding:8px 8px 50px; margin: 10px auto; border-radius:5px;}
			.soliloquy-wrapper {background: $c-w !important; margin: 10px auto !important; padding-bottom: 50px;
				.soliloquy-caption-bottom {bottom:-60px !important; 
					.soliloquy-caption-inside{text-shadow: none; background:$c-w !important;  font-size:.8rem; color:$c-bl;}
				}
				.soliloquy-controls {bottom:0px !important;}
			}
		}
				@include breakpoint(tablet) {
			.page-sb { @include span(3 first); display:block; padding-top:10px;}
			.page-main { @include span(9 last); }
		}
	}
	 
}


.single {
	.site-main {padding:2%;
		.page-hdr {position: relative; width:70%; margin:10px auto 0; 
			.hdr-tmb {position: relative; z-index: 10; display: block; margin:0 auto; max-width: 240px;
				img {z-index: 10; margin: 0 auto; position: relative;}
				&:after {@extend .adiv;  @extend .bgfill; @extend .skew-h; background: $c-w; @extend .shdbox; }
			}
			.hdr-cnt {background: $c-w; @extend .skew-h; padding-top: 70px; margin-top: -65px; width: 96%; margin-left:2%;}
			@include breakpoint(tablet-h) { margin:80px auto 40px;
				.hdr-tmb {position: absolute; top:-20px;  left:-20px;}
				.hdr-cnt {padding: 10px 10px 10px 230px;}
			}
		}
	}
}

.single-product-group {
	.prod-table-links { @extend .cf; margin: 10px 0; 
		li {margin: 5px; display: block;
			a {background: $c-bl; color:$c-w; display: block;  font-size: .8rem; padding:5px 10px; 
				&:hover {background: green;}
				&:after { @extend .fa; content: "\f0dd"; margin: -3px 5px 0  }
			}
			@include breakpoint(tablet) {float:left;}
		}
	} 
	
	.prod-table {@extend .cf; padding:8px; background-color:$c-bl; font-size:1rem; margin-bottom: 15px; color:$c-b; border-radius:5px; 
		.table-title {color: $c-w; padding:5px; 
				@include breakpoint(tablet) {text-align: left;}
			}
		.prodtable {margin: 5px 0 !important; width: 100% !important;
			
			&, th, td {border-color: $c-bl;}
			th {font-size: .8rem; line-height: 1rem; color:$c-w ;}
			tbody tr, tbody td {background: $c-w !important}
			.collapsed>tbody>tr>th:first-child:before {text-indent: 3px;}
			
		}
			.dataTables_filter {margin-bottom: 5px; color:$c-w !important;
				input {color: $c-dg;}
		}
		
	}
}