// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin cf() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin cf-after() {
	clear: both;
}
/*********************
BOX SIZING
*********************/
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

/* SVG PNG Fallback */
$image-path: 'img' !default;
$fallback-extension: 'png' !default;
@mixin svg-bg($name){
    background-image: url(#{$image-path}/#{$name}.svg);
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});
    }
}
/* Opacity */

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin bdr-tops($bwidth, $bcolor) {
	border:$bwidth solid $bcolor; border-right:0; border-left: 0; padding: 5px; margin-bottom: 5px;}

@mixin tbg($color: #000, $value:0.5) {
  $start: "rgb(";
  $end: ")";
  background: #{$start}red($color), green($color), blue($color)#{$end};
  background: rgba($color, $value);
  }

@mixin dims($dw, $dh) {
	width:$dw;
	height:$dh;
}

@mixin rimg($bw, $bc) {
	border-radius:100%;
	border:$bw solid;
	border-color:$bc;
}

@mixin font-size($fs-map, $fs-breakpoints: $font-bps) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
  // If $fs-font-size is a list, include
  // both font-size and line-height
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);
    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }
  @else {
    font-size: $fs-font-size;
  }
}
