//Reusables//
.fa {
font-family: 'FontAwesome';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-b *, .bg-g* {color:$c-w;}
.bg-b {background-color:$c-bl;  }
.bg-g {background-color:$c-gr; color:$c-w;}
.bg-bg {background-image: linear-gradient(to bottom,  rgba(18,12,34,0.65) 0%,rgba(18,12,34,0) 100%);
filter: 
progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6120c22', endColorstr='#00120c22',GradientType=0 );
}
.bg-reset {background-repeat: no-repeat; background-position: center center;}



.bglogo {@include svg-bg('norden-logo'); @extend .bg-reset; background-size: contain; 
}

.bg-hdr {position: relative;
	&:after { @extend .adiv; @extend .bg-reset; width: 100%; top:0; left:0; height:100px; background-image: url(img/bg-skysm.jpg); background-size:cover; background-position: top center;  z-index: 0; display: none !important;
		@include breakpoint(tablet) {display: block !important;}
	}
}

.ffh {font-family: $ff-hdr;}
.ffl {font-family: $ff-hdr; font-weight:300}
.ffa {font-family: 'FontAwesome'; font-size: 1.6rem; text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; font-weight:normal;}

.hide-s {display: none !important;
	@include breakpoint(tablet) { display:block !important }
}
.hide-t {display: block !important;
	@include breakpoint(tablet) { display:none !important }
}
.show-th {display: none !important;
	@include breakpoint(tablet-h) { display:block !important }
}
.hide-th {display: block !important; 
	@include breakpoint(tablet-h) { display:none !important }
}

.btn { display: block; padding:5px 10px; margin:5px; font-size:1.2rem; line-height: 1.2rem; color:$c-w !important; text-align: center;  background-color: $bg-btn !important; @extend .ffh;
	span{display: block}
	&:hover {@extend .btnhvr;}
	
}
.bg-b .btn {background-color: $c-w !important; color:$c-bl !important;}

.btnhvr {color:$c-w !important; background-color: $bg-btnhvr !important; border-radius:15px 0 15px 0; }




.b-lnk {display: block; @extend .cf; 
	&:hover {@extend .btnhvr;}
}


.cta-btn {@extend .btn; color:$c-w !important;
	&:hover {@extend .btnhvr}
}

.rimg { @include rimg(4px, $c-w) }

.blocks {@extend .cf;}
.full {@include span(12); margin:0; }
.half {@include span(6); margin:0; }
.third {@include span(4); margin:0; }

.shdbox {box-shadow:0 0 4px rgba(0,0,0,0.5); }

.notxt {display:block;text-indent: 100%; white-space: nowrap; overflow: hidden;}

.ablock {position: absolute; display: block;}

.animate, a, a *, .btn, .uline {transition: all 0.2s ease-out}

.fliph {transform: scaleX(-1);} 
.flipv {transform: scaleY(-1);}

// .inner {padding:10px 15px}
.ediv {display: block; @extend .bg-reset; background-size:cover; width: 100%;
	:after {content:" "; display: block}
}
.adiv { @extend .ablock; content:" ";}
.bgfill {bottom:0; left:0; @include dims(100%,100%) }

.t-center {text-align: center;}

.lined {border-bottom:1px dashed $c-bdr; padding-bottom: 3px; margin:2px 0; display: block;
	&:last-child {border-bottom: none; margin-bottom: 0;}
}

.uline {border-bottom:1px solid $c-bdr; padding-bottom:5px !important; margin-bottom: 5px !important;}

.midline {position: relative; text-align: center;
	* {display: block;}
	.hl {background-color:$c-bl; position: relative; z-index: 100; display: inline-block; padding: 5px; }
	&:after {content: " "; position: absolute; left:0; top:50%;width: 100%; height: 1px;background: $c-w; z-index: 0;}
}


.tlink {position: relative;display: block; text-align: center; background: $c-b; padding: 10px 0; 
	span {display: block; position: relative}
	.tlink-title, .tlink-txt, .tlink-btn {z-index: 10}
	.tlink-bg {position: absolute; top:0; left:0; z-index: 1; width: 100%; height: 100%; @include opacity(0.5); background-size:100%;}
	&:hover {
		.tlink-bg {opacity: 0.8;}
		.tlink-btn {background: $c-b !important;}
	}
}


.table-wrap {display: table; width: 100%;
	> div {display: table-cell;}	
}

.skew-v {transform: skewY(3deg);
	.unskew {transform: skewY(-3deg);}
}
.skew-h {transform: skewX(-4deg);
	.unskew {transform: skewX(4deg);}
}

.block-tmb {max-width: 240px; margin:-5px auto 0;text-align: center; z-index: 100;
			img {width: 90%; margin: 0 auto; position: relative;}
		}
.block-tmb:after {width: 100%; @extend .skew-h; background: $c-w !important; @extend .shdbox; display: block; }

