//Homepage
#hero {margin-top: -180px; 
	.slide-wrap {position: relative;
		.slide {position: relative; padding:30px 0; 
			.slide-bg {@extend .adiv; width: 100%; height:100%; bottom:0; @extend .bg-reset; background-color: $c-b;  background-size:cover;}
			.container { 
				.inner {position: relative; padding-top: 180px; width:70%; margin:5% auto; 
					.slide-img {position: relative; z-index: 10; display:none}
					.slide-cnt { @include tbg($c-w, 0.8); @extend .skew-h;   width: 96%; margin-left:2%; text-align: center;
						.slide-hl {padding: 5px 25px 0;}
						.sitesearch {padding: 10px 0;}
					}
					.searchsettings {}
					@include breakpoint(tablet) { 
						.slide-cnt {padding: 10px;
								.slide-hl {padding: 5px 40px;}
							}
					}
					@include breakpoint(tablet-h) { margin: 10% auto;
// 						.slide-img {position: absolute; top:50%; margin-top: -50px; left:-20px;}
						.slide-cnt { width: 90%;
							.slide-hl {padding: 5px 50px;}	
						}
					}
				}
			}
		}
	}
}
div[id*="ajaxsearchlitesettings"].searchsettings, div[id*="ajaxsearchliteres"].vertical, .sitesearch * {background: $c-bl !important;}

#aboutus {@extend .bg-b; @extend .bg-bg; padding:1px 25px;  @extend .cf;
	
	.block { @extend .cf; position: relative; margin-bottom: 30px; border-bottom:1px solid $c-bdr; 
padding-bottom: 20px; color:$c-lg;
		* {color:$c-w;}
		> div, img {position: relative; z-index: 10;}
		.block-tmb {max-width: 240px; margin:-5px auto 0;text-align: center; z-index: 100;
			img {width: 90%; margin: 0 auto; position: relative;}
		}
		.block-cnt {			
			* {text-align: center !important;}
			.entry-title { margin: 10px 0 0; @extend .uline; }
			.entry-cnt { @extend .cf; padding: 0 20% 10px; 
				* { font-size: 1rem; line-height: 1.4rem;
					@include breakpoint(tablet) {font-size: .8rem; line-height: 1.1rem;}
					@include breakpoint(medium) {font-size:1rem; line-height: 1.4rem;}
				}
				li {@extend .lined; border-color:$c-g; }
			}
		}
		&:after, .block-tmb:after { @extend .adiv; bottom:0; z-index: 0; height: 100%; background: $c-lg; display: none; }
		.block-tmb:after {width: 100%; @extend .skew-h; background: $c-w !important; @extend .shdbox; display: block; }
		.btn-block { 
			.half {padding: 1px;}
		}
			
	}
	
	#products  {
		.block {
			&:after {left:5%; width: 90%; @extend .skew-v; }
			.entry-title {word-spacing: 200px;}
		}
	}
	
	#services { margin: 10px auto;
		.block {
			&:after {left:20px; width: calc(100% - 40px); @extend .skew-h;
				@include breakpoint(medium) {left:40px; width: calc(100% - 60px);}
			}
			.block-tmb {margin-top: 20px;}
			
		}
	}
	@include breakpoint(mobig) {
		.block {border: none;}
		#products .block {@include span(6);}
	}
	@include breakpoint(tablet) {
		.block { margin-bottom: 10px;
			* {* {color:$c-bl;}}
			.block-cnt .entry-cnt {padding: 0;}
			.btn-block {background: transparent;}
		}
		.btn-block .btn {color:$c-w !important; background-color: $bg-btn !important;}
		
		#products .block:after, #services .block:after  { display: block; }
		#products { margin-top: -30px;
			.block {@include span(3); margin: 50px 0 10px;
			.block-tmb {margin-top: -40px;}
			}
		}
		#services {margin: 30px auto;
			.block{@include span(6); 
				
				.block-tmb { float:left; width: 40%;  margin-left: -15px; }
				.block-cnt{float:right; width:56%; margin-right: 2%; 
					* {text-align: left !important;}
					.entry-title {padding: 10px 40% 10px 0;
						@include breakpoint(medium) {padding: 10px 0;}
					}
				}
			}
		}
	}
	@include breakpoint(large) {
		#services .btn-block {
			li {margin-top: -40px; 
				a {text-align: right; padding-right: 8%; width: 105%}
			}
		}
	}
}

//Sales Reps
.sales-page {
	.rep-wrap {background: $c-bl; @extend .cf; text-align: center;
		.state-list { color:$c-w; 
			#mapwrapper svg {height: 200px !important;}
			.map-tip {border:none; background:$c-bl !important; color:$c-w !important;}
		} 
		.rep-list { @extend .cf; background: $c-lg;}
		@include breakpoint(tablet-h) {
			.state-list { @include span(3); }
			.rep-list { @include span(9);}
		}
	}
	@include breakpoint(dismobile) { 
		.state-list {padding:15px;}
		.sticky-scroll {top:0 !important}
	}
}

.rep-cnt { @extend .cf; border-bottom: 1px solid; margin-bottom: 10px; padding-bottom: 10px;
	* {text-align: left;}
		.rep-states {
			
			li {font-size:.9rem; line-height: 1.5rem; 
				&:before {content:"• "}
			}
		}
		.rep-fields {background: $c-lg;
			.rep-email a {@extend .btn; background: transparent !important; border:1px solid; color:$c-bl !important; display: inline-block; margin:5px 0;
				&:hover {}
			}
		}
	@include breakpoint(tablet) {
		.rep-states { @include span(3); }
		.rep-fields { @include span(9);  border-left:1px solid; }	
	}
}


.dd-list {
	h3 { @extend .sec-title; text-align: left; font-weight:300px;  }
		ul {
		li { @extend .lined; border-color: rgba(255,255,255,0.5);
			&.dd-trigger {cursor: pointer; padding: 5px 5px 5px 20px; position: relative;  @extend .ffl;
				&:before { @extend .fa; font-size:.8rem;  position:absolute; top:12px; left:5px; }
				&.dd-trigger.closed:before {content: "\f196";}
				&.dd-trigger.open:before {content: "\f062"; }
				&:hover, a:hover {background: rgba(255,255,255,0.1);} 
				 > ul {display: none; margin: 5px 5px 5px -15px;
					 li a {display:block; font-size:.8rem; padding:3px 5px; line-height:1.1rem;}
				 }
		    }
		    
	    }
    }
}

.dl-list { 
	li {@extend .lined;
		a {padding:15px 10px; display: block;
			&:before { @extend .fa; font-size:2rem; content: "\f0f6";; margin-right: 10px;}
		}
	}
	
}

//contact
.hotel-list {
    .dd-trigger ul li {font-family: $ff-body; font-size:.8rem !important;
	    a {font-size:1.1rem !important; font-weight: 700; padding:5px; 
		    &:hover {background: $c-bl}
	    }
    }
}

.contact-block {font-size:.9rem;
	ul {padding: 5px 0; }
}


#mapwrapper {
	#text-abb {fill:$c-w !important; }
	#regions path {fill:$c-w !important; stroke:$c-bl !important; @extend .animate;
		&:hover {fill:$c-g !important;}
	}
	#map-tip {display: none !important;}
}


