body, 
button, 
input, 
select, 
textarea,
p{color:$c-txtbody; font-family:$ff-body; @include font-size($p-font-sizes); text-align: center;
	@include breakpoint(tablet-h) {
		text-align: left;
	}
}

h1, h2, h3, h4, h5, h6{clear:both; @extend .ffl; }
h1, .h1 { @include font-size($h1-font-sizes);}
h2, .h2 { @include font-size($h2-font-sizes);}
h3, .h3 { @include font-size($h3-font-sizes);}
h4, .h4 { @include font-size($p-font-sizes);}

.sec-title {text-align: center; @include bdr-tops(1px, $c-lg); margin: 10px 0; padding: 5px 0; font-weight: 700; text-transform: capitalize;}

p{ margin:0; font-size: 1rem;}

a {
	color: $c-lnk;

	&:visited {
		color: $c-lnkv;
	}
	&:hover,
	&:focus,
	&:active {
		color: $c-lnkhvr;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-cnt a, td a {text-decoration: underline !important; font-weight:bold;
	&:hover {color:green !important;}
}

a.rm {@extend .btn; font-size:inherit; font-size:.8rem !important; line-height: 1; text-align: center; margin: 0 auto;;
	i {color:inherit;}
	&:hover {@extend .btnhvr;}
}


blockquote{margin:0 1.5em}


big{font-size:125%}
