$c-w: #fff;
$c-b:#1C1B1A;
$c-lg: #F5F5F5;
$c-g: #C8C7C9;
$c-dg: #474747;
$c-red:#AF202D;
$c-bl:#232449;
$c-gr:#95B88B;
$c-dc: darkcyan;
$c-bdr: $c-g;
$bg-body: $c-lg;
$bg-screen: #f1f1f1;
$bg-hr: #ccc;
$bg-btn: $c-bl;
$bg-btnhvr:$c-dg;

$c-txtinput: #666;
$c-txtinput-focus: #111;
$c-lnk: #34566e;
$c-lnkhvr: $c-bl;
$c-lnkv: $c-bl;
$c-txtbody: $c-bl;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600|Exo:400,300);
// font stacks
$ff-ss: 'Open Sans', sans-serif;
$ff-hdr: 'Exo', sans-serif;
$ff-s: "Georgia", Cambria, Times New Roman, Times, serif;
$ff-fa: "FontAwesome";
$ff-body: $ff-ss;
$fs_body: 1.2rem;
$lh_body: 1.5; 

$font-bps: (
  small: 480px,
  tablet: 768px,
  tablet-h: 960px,
  medium: 1040px,
  large : 1240px
);

$p-font-sizes: (
  null  : (1rem, 1.4rem),
  medium: (1.2rem, 1.5rem),
  large: (1.2rem, 1.6rem),
);
$h1-font-sizes: (
  null  : (1.4rem, 1.8rem),
  tablet: (1.8rem, 2rem),
  medium: (2.2rem, 2.4rem),
);
$h2-font-sizes: (
  null  : (1.6rem, 1.8rem),
  medium: (1.8rem, 2rem),
  large : (2rem, 2.2rem),
);
$h3-font-sizes: (
  null  : (1.2rem, 1.4rem),
  medium: (1.4rem, 1.6rem),
);

