/**
 * @license
 * MyFonts Webfont Build ID 3212830, 2016-05-02T19:39:11-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ByingtonRg-Regular by Typodermic
 * URL: http://www.myfonts.com/fonts/typodermic/byington/regular/
 * Copyright: Copyright (c) 2005 Typodermic Fonts. This font is not freely distributable. Visit typodermic.com for more info.
 * Licensed pageviews: 20,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3212830
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/31061e");

  
@font-face {font-family: 'ByingtonRg-Regular';src: url('webfonts/31061E_0_0.eot');src: url('webfonts/31061E_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31061E_0_0.woff2') format('woff2'),url('webfonts/31061E_0_0.woff') format('woff'),url('webfonts/31061E_0_0.ttf') format('truetype');}
 